<div class="center-container"><app-today-meteo></app-today-meteo></div>
<hr />

<!-- <div class="row">
  <div class="col-3">
    <app-today-meteo></app-today-meteo>
  </div>
  <div class="col-3">
    <app-today-meteo></app-today-meteo>
  </div>
  <div class="col-3">
    <app-today-meteo></app-today-meteo>
  </div>
  <div class="col-3">
    <app-today-meteo></app-today-meteo>
  </div>
</div> -->

<!-- <div
  class="k-d-grid k-grid-rows-1 k-grid-flow-col k-gap-5 k-text-center k-w-full k-text-white"
>
  <div><app-today-meteo></app-today-meteo></div>
  <div><app-today-meteo></app-today-meteo></div>
  <div><app-today-meteo></app-today-meteo></div>
  <div><app-today-meteo></app-today-meteo></div>
</div>
 -->
