.container-left-rigth {
  padding: 25px;
  padding-top: 0px;
  max-height: 100%;
}

#left {
  max-height: 734px;
}

.fade-out {
  opacity: 0;
  /*   transform: translateX(100px);
  transition: all 300ms ease-in-out; */
  pointer-events: none;
}

.cdk-drag {
  cursor: grab;
  z-index: 1000;
  &.cdk-drag-dragging {
    cursor: grabbing;
  }
}

.cdk-drag-preview {
  opacity: 0.7;
  transform: scale(1.1);
}

.cdk-drop-list-dragging .lefty {
  opacity: 0;
}

.dragging-placeholder {
  opacity: 0.5;
  filter: grayscale(0.8);
}

.cdk-drag-placeholder {
  opacity: 0;
}
.add-card {
  border: 1px dashed #ffffffb9;
  border-radius: 12px;
  cursor: pointer;
  font-size: 7rem;

  & i {
    color: #b1b1b157;
  }
}

.add-card:hover {
  border: 1px dashed #ffffff7d;
  & i {
    color: #ffffff7d;
  }
}

.plus {
  padding-top: 31px;
  padding-bottom: 31px;
}

.example-dialog-content {
  width: 400px;
  height: 350px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  background: #fff;
  border-radius: 4px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-dialog-content:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.result-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #cccccc00;
  background-color: rgba(255, 252, 252, 0.623);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 6px 10px 11px 0px #ffffffa1,
    inset -10px -10px 17px 0px #ffffff90;
  backdrop-filter: blur(3px); /* sfocatura vetro */
  .result-item {
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background-color: #18386631;
    }
  }
}

.animated-search-container {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  padding: 1rem;
  /*  box-shadow: 0 10px 30px rgba(4, 12, 123, 0.1); */
  width: 90%;
  max-width: 500px;

  input {
    background-color: rgba(255, 255, 255, 0.925);
  }
  input:focus {
    border-color: rgba(224, 224, 224, 0.098);
    box-shadow: 3px 3px 10px rgba(4, 12, 123, 0.1);
  }
}

.animated-search-container:hover {
  scale: 1.01;
}

/* .center-container {
  display: flex;
  justify-content: center;
}

.wrapper {
  height: 500px;
  overflow: auto;
}

.my-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
  align-content: flex-start;
}

.my-drop {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  border-color: lightgray;
  transition: border-color 0.2s ease-in-out;
}

.container {
  height: 300px;
  width: 600px;
  display: grid;
  gap: 40px;
  grid-template-columns: 50% 50%;
}

.sortable-grid {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  gap: 1rem;
  border: none;
} */
