$highlight-color: #d6002f;
$font-size-default: 14px;
$font-size-title: 18px;
$badge-margin-right: 8px;
$li-margin: 0 9px;

.title {
  font-family: cursive;
  color: #143a66;
  font-size: $font-size-title;
  margin: 0;
}

kendo-badge-container {
  margin-right: $badge-margin-right;
}

/* ul {
  font-size: $font-size-default;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  li {
    margin: $li-margin;

    &:hover {
      cursor: pointer;
      color: $highlight-color;
    }
  }
} */

.actions {
  .k-button {
    padding: 0;
  }
}

/* --------------------------------------- */

.logo-nav {
  margin-left: 20px;
  width: 70px;
  height: auto;
}
