<link
  rel="stylesheet"
  href="https://unpkg.com/@progress/kendo-font-icons/dist/index.css"
/>

<kendo-appbar position="top">
  <!--   <kendo-appbar-section>
    <button kendoButton fillMode="flat">
      <kendo-svgicon [icon]="menuIcon"></kendo-svgicon>
    </button>
  </kendo-appbar-section> -->

  <kendo-appbar-section>
    <img class="logo-nav" src="logo_social.png" alt="" />
  </kendo-appbar-section>

  <kendo-appbar-section>
    <h1 class="title">Meteo</h1>
  </kendo-appbar-section>

  <kendo-appbar-spacer width="32px"></kendo-appbar-spacer>

  <!--   <kendo-appbar-section>
    <ul>
      <li><span>What's New</span></li>
      <li><span>About</span></li>
      <li><span>Contacts</span></li>
    </ul>
  </kendo-appbar-section> -->

  <kendo-appbar-spacer></kendo-appbar-spacer>

  <kendo-menu>
    <kendo-menu-item text="My Web Site" [svgIcon]="svgFolder">
      <kendo-menu-item text="images" [svgIcon]="svgFolder">
        <kendo-menu-item text="logo.png" [svgIcon]="svgImage"></kendo-menu-item>
        <kendo-menu-item
          text="body-back.png"
          [svgIcon]="svgImage"
        ></kendo-menu-item>
        <kendo-menu-item
          text="my-photo.png"
          [svgIcon]="svgImage"
        ></kendo-menu-item>
      </kendo-menu-item>
      <kendo-menu-item text="resources" [svgIcon]="svgFolder">
        <kendo-menu-item text="pdf" [svgIcon]="svgFolder">
          <kendo-menu-item
            text="prices.pdf"
            [svgIcon]="pdfImage"
          ></kendo-menu-item>
          <kendo-menu-item
            text="brochure.pdf"
            [svgIcon]="pdfImage"
          ></kendo-menu-item>
        </kendo-menu-item>
        <kendo-menu-item text="zip" [svgIcon]="svgFolder"></kendo-menu-item>
      </kendo-menu-item>
      <kendo-menu-item
        text="about.html"
        [svgIcon]="fileImage"
      ></kendo-menu-item>
      <kendo-menu-item
        text="contacts.html"
        [svgIcon]="fileImage"
      ></kendo-menu-item>
      <kendo-menu-item
        text="index.html"
        [svgIcon]="fileImage"
      ></kendo-menu-item>
      <kendo-menu-item
        text="portfolio.html"
        [svgIcon]="fileImage"
      ></kendo-menu-item>
    </kendo-menu-item>
  </kendo-menu>
</kendo-appbar>
