.today-meteo {
  width: 100% !important;
  color: whitesmoke;
  max-height: 709px;
  overflow: visible;
  /* ---- */
}

:host ::ng-deep kendo-chart.grafico {
  max-height: 370px;
  background-color: rgba(255, 255, 255, 0.329);
  border: 1px solid rgba(255, 255, 255, 0.566);
  border-radius: 12px;
  backdrop-filter: blur(3px); /* sfocatura vetro */
  box-shadow: 0 12px 30px rgba(4, 12, 123, 0.053),
    /* ombra esterna più forte */ 0 10px 60px rgba(4, 12, 123, 0.037),
    inset 6px 10px 11px 0px #ffffff69, inset -6px -10px 17px 0px #ffffff4e;
}

.k-hstack {
  justify-content: space-between;
}

.k-card-footer .k-hstack,
.k-card-header .k-hstack {
  justify-content: space-evenly;
}

.icona-meteo {
  font-size: 22px;

  &.big {
    color: #f6f6f6;
    font-size: 28px;
  }
}

.icona-meteo {
  font-size: 22px;
}

.effemeridi {
  justify-content: space-between;
}

.forecast-meteo {
  width: 100% !important;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
  cursor: default;
  pointer-events: none; /* disabilita interazione */
}

.temp-min {
  color: #d1d1d1d9;
}

.temp-max {
  color: #ff7459;
}

kendo-card-header {
  color: whitesmoke;
  position: relative;

  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid whitesmoke;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    position: fixed;
    top: -8px;
    right: -10px;
  }
}
