<!-- SKELETON Card Left----------------------------------------------------------------------------------------------->
<ng-container *ngIf="isLoading; else contenutoMeteo">
  <kendo-card class="today-meteo">
    <kendo-card-header class="d-flex justify-content-between py-4 px-3">
      <kendo-skeleton
        shape="text"
        animation="wave"
        width="33%"
      ></kendo-skeleton>
      <div class="d-flex justify-content-end w-50">
        <kendo-skeleton
          class="me-2"
          shape="circle"
          animation="wave"
          [width]="25"
          [height]="25"
        ></kendo-skeleton>
        <kendo-skeleton
          shape="text"
          animation="wave"
          width="40%"
        ></kendo-skeleton>
      </div>
    </kendo-card-header>

    <kendo-card-body>
      <div class="d-flex justify-content-between pt-2 pb-1">
        <kendo-skeleton
          shape="text"
          animation="wave"
          width="20%"
          height="27px"
        ></kendo-skeleton>

        <kendo-skeleton
          shape="text"
          animation="wave"
          width="20%"
          height="27px"
        ></kendo-skeleton>
      </div>
      <div class="d-flex justify-content-between pb-1">
        <kendo-skeleton
          shape="text"
          animation="wave"
          width="22%"
          height="25px"
        ></kendo-skeleton>

        <kendo-skeleton
          shape="text"
          animation="wave"
          width="22%"
          height="25px"
        ></kendo-skeleton>
      </div>
      <div class="d-flex justify-content-between pb-1">
        <kendo-skeleton
          shape="text"
          animation="wave"
          width="30%"
          height="25px"
        ></kendo-skeleton>

        <kendo-skeleton
          shape="text"
          animation="wave"
          width="30%"
          height="25px"
        ></kendo-skeleton>
      </div>
      <div class="d-flex justify-content-between pb-1">
        <kendo-skeleton
          shape="text"
          animation="wave"
          width="28%"
          height="25px"
        ></kendo-skeleton>

        <kendo-skeleton
          shape="text"
          animation="wave"
          width="28%"
          height="25px"
        ></kendo-skeleton>
      </div>

      <kendo-skeleton
        *ngIf="chartVisible"
        shape="rectangle"
        animation="wave"
        width="100%"
        height="400px"
      ></kendo-skeleton>
    </kendo-card-body>

    <kendo-card-footer *ngIf="chartVisible" class="k-hbox">
      <kendo-skeleton
        *ngIf="chartVisible"
        shape="text"
        animation="wave"
        width="100%"
      ></kendo-skeleton>
    </kendo-card-footer>
  </kendo-card>
</ng-container>
<!-------------------------------------------------------------------------------------------------------- -->

<ng-template #contenutoMeteo>
  <kendo-card
    class="today-meteo glass-card"
    orientation="vertical"
    *ngIf="weather && other?.daily"
  >
    <kendo-card-header class="k-hstack k-align-items-center">
      <h4 kendoCardTitle>{{ weather.name }}</h4>
      <div class="k-d-flex k-align-items-center">
        <i class="icona-meteo big me-3 bi" [ngClass]="iconaMeteo"></i>
        <h5 class="m-0">
          {{ (weather.main.temp).toString() | slice:0:4 }} <span>°C</span>
        </h5>

        <span
          class="badge rounded-pill ms-2 p-0"
          style="cursor: pointer"
          (click)="onDeleteClick()"
          title="Rimuovi"
        >
          <i class="bi bi-x-lg"></i>
        </span>
      </div>
    </kendo-card-header>

    <kendo-card-body>
      <div class="k-d-flex k-align-items-center effemeridi">
        <div class="k-d-flex k-align-items-center">
          <i class="bi bi-sunrise icona-meteo"></i>
          <p class="m-0 ms-2">{{sunriseT}}</p>
        </div>
        <div class="k-d-flex k-align-items-center">
          <i class="bi bi-sunset icona-meteo"></i>
          <p class="m-0 ms-2">{{sunsetT}}</p>
        </div>
      </div>
      <hr kendoCardSeparator />
      <div class="k-d-flex k-align-items-center effemeridi py-1">
        <div class="k-d-flex k-align-items-center">
          <p class="m-0">Min</p>
          <p class="m-0 ms-2">{{other.daily.temperature_2m_min[0]}} °C</p>
        </div>
        <div class="k-d-flex k-align-items-center">
          <p class="m-0">Max</p>
          <p class="m-0 ms-2">{{other.daily.temperature_2m_max[0]}} °C</p>
        </div>
      </div>
      <hr kendoCardSeparator />
      <div class="k-d-flex k-align-items-center effemeridi py-1">
        <div class="k-d-flex k-align-items-center">
          <p class="m-0">Percepita</p>
          <p class="m-0 ms-2">{{weather.main.feels_like}} °C</p>
        </div>
        <div class="k-d-flex k-align-items-center">
          <p class="m-0">Umidità</p>
          <p class="m-0 ms-2">{{weather.main.humidity}} %</p>
        </div>
      </div>
      <hr kendoCardSeparator />
      <div class="k-d-flex k-align-items-center effemeridi">
        <div class="k-d-flex k-align-items-center">
          <i class="bi bi-wind icona-meteo"></i>
          <p class="m-0 ms-2">{{windSpeed}}</p>
        </div>
        <div class="k-d-flex k-align-items-center">
          <p class="m-0 me-2">Direzione</p>
          <i class="bi" [ngClass]="windDirection"></i>
        </div>
      </div>

      <hr kendoCardSeparator />

      <!-- #Region Chart -->
      <!-- I VALORI DELL'ASSE Y SONO GENERATI AUTOMATICAMENTE -->
      <kendo-chart
        class="grafico mt-2"
        [chartArea]="{ background: '#fffdfd23' } "
        *ngIf="chartVisible"
      >
        <kendo-chart-title text="Grafico temperature"></kendo-chart-title>

        <kendo-chart-category-axis>
          <kendo-chart-category-axis-item
            [categories]="orariGragico"
            [title]="{ text: 'Orario' }"
          >
          </kendo-chart-category-axis-item>
        </kendo-chart-category-axis>

        <kendo-chart-series-defaults [highlight]="{ inactiveOpacity: 0.3 }">
        </kendo-chart-series-defaults>

        <kendo-chart-series>
          <kendo-chart-series-item
            type="area"
            [data]="temperatureOrarie"
            [color]="'#143A66'"
            [line]=" {style:'smooth'}"
            [opacity]=".2"
          >
          </kendo-chart-series-item>
          <kendo-chart-series-item
            type="line"
            [data]="temperatureOrarie"
            [color]="'#143A66'"
            [line]=" {style:'smooth'}"
            [markers]="{visible: false}"
          >
          </kendo-chart-series-item>
        </kendo-chart-series>
      </kendo-chart>

      <hr kendoCardSeparator />

      <div
        class="k-d-grid k-grid-rows-1 k-grid-flow-col k-gap-1 k-text-center k-w-full k-text-white pt-2"
        *ngIf="chartVisible"
      >
        <div *ngFor="let day of other.daily.time; let i = index">
          <kendo-card orientation="vertical" class="m-0 forecast-meteo">
            <kendo-card-header class="py-1">
              {{ i === 0 ? 'Oggi:' : (day | date: 'dd/MM') }}
            </kendo-card-header>
            <kendo-card-body class="p-1">
              <div class="text-center">
                <i
                  class="big icona-meteo bi"
                  [ngClass]="getIconMeteo2(other.daily.weather_code[i], isDay)"
                ></i>
              </div>
              <div>
                <span class="temp-min">
                  {{ other.daily.temperature_2m_min[i] | number: '1.0-0' }}
                </span>

                <span class="temp-max">
                  {{ other.daily.temperature_2m_max[i] | number: '1.0-0' }}
                </span>
              </div>
            </kendo-card-body>
          </kendo-card>
        </div>
      </div>
    </kendo-card-body>
  </kendo-card></ng-template
>
