.today-meteo {
  margin-top: 3rem;
  width: 100% !important;
}
.k-hstack {
  justify-content: space-between;
}

.k-card-footer .k-hstack,
.k-card-header .k-hstack {
  justify-content: space-evenly;
}

.icona-meteo {
  font-size: 22px;
}

.icona-meteo {
  font-size: 22px;
}

.effemeridi {
  justify-content: space-between;
}

.forecast-meteo {
  width: 100% !important;
}
